<!Doctype html>
<html lang="en">
<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/price-range.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">     
<link rel="shortcut icon" href="images/favicon.ico">
  
<style>
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: -webkit-linear-gradient(bottom left, skyblue, green);
   color: white;
   text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}
</style>
</head>
<body background="flag.jpg">
<header id="header"><!--header-->
<div class="header_top" style="background-color: skyblue"><!--header_top-->
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="contactinfo">
<ul class="nav nav-pills">
<li><a href="#"><i class="fa fa-phone"></i> 9894999472</a></li>
<li><a href="#"><i class="fa fa-envelope"></i> jainsahil243@gmail.com</a></li>
</ul>
</div>
</div>
<div class="col-sm-6">
<div class="social-icons pull-right">
<ul class="nav navbar-nav">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div><!--/header_top-->
<center>
    <h1 style="color: green">
  Welcome to the Era of Decentalized Voting!!!
    </h1>
<a href="/info" class="btn btn-info" role="button">LIST OF ALL PARTIES</a>
<a href="/vote" class="btn btn-info" role="button">CAST YOUR VOTE</a>
</center>
<div class="footer">
    <p>Copyright © VIT University All rights reserved.</p>
    <p>Designed by Sahil Jain and Team</p>
    </footer>
    </div>
</body>
</html>
