<!DOCTYPE html>
<html>
<body background="flag.jpg">
<center>
  <div>
<head>
  <h1>
  List of All National Parties
  </h1>
 <style>
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: -webkit-linear-gradient(bottom left, skyblue, green);
   color: white;
   text-align: center;
}
</style>
</head>
</div>
    <image src="all_parties.jpg" width="50%" height="80%"><br><br><br><br><br><br><br>
  </center>
 <div class="footer">
    <p>Copyright © VIT University All rights reserved.</p>
    <p>Designed by Sahil Jain and Team</p>
    </footer>
    </div>
</body>
</html>
