<!DOCTYPE html>
<html>
<body background="flag.jpg">
<h1 style="color: green"><center>Congratulations, You are a Verified Voter!!</h1></center>
<style type="text/css">
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: -webkit-linear-gradient(bottom left, skyblue, green);
   color: white;
   text-align: center;
}
</style>
<center>
<p><h2 style="color: brown">Your Vote is going to decide your and the country's faith for coming Five Years</h2></p>
<p><h2 style="color: brown">So, Decide Your Vote Wisely!!!</h2></p>
<p><a href="http://localhost:8081/">GO and vote.</p>
	 <div class="footer">
    <p>Copyright © VIT University All rights reserved.</p>
    <p>Designed by Sahil Jain and Team</p>
    </footer>
    </div>
</a></p></center>
</body>
</html>